/* Get to know us*/
/* Styling the "Get to know us" section */
.get-to-know-us {
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

.get-to-know-us h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.get-to-know-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Styling the "Learn more" button
.get-to-know-us .btn {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
*/
.get-to-know-us .btn:hover {
  background-color: #0056b3;
}
/* Style for the Get to Know Us section */
.get-to-know-us {

  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: relative;
}

/* Style for the container within the section */
.get-to-know-us .container {
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background color for better readability */
  padding: 20px;
  justify-content: space-around;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);


}

h2 {
  color: #007bff;
}

p {
  line-height: 1.6;
}
/*Get to know us End*/
